body {
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', helvetica, arial, sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 30px 60px 30px;
}

.app .add-button {
  text-decoration: none;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  width: 160px;
  background: #95A5A6;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: #e5e5e5;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header a {
  text-decoration: none;
  color: #2f2f2f;
  margin-right: 10px;
  line-height: 30px;
}

.header a:active {
  color: #000000;
}

.container {
  width: 900px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

 h2 small {
  font-size: 0.5em;
}

.responsive-table {
  margin: 0;
  padding: 0;
}

.responsive-table li {
  border-radius: 3px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.responsive-table .table-header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #95A5A6;
}

.responsive-table .table-row {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
}

.responsive-table .col-1 {
  flex-basis: 30%;
  line-break: anywhere;
}

.responsive-table .col-2 {
  flex-basis: 25%;
  line-break: anywhere;
}

.responsive-table .col-3 {
  flex-basis: 30%;
  line-break: anywhere;
}

.responsive-table .col-4 {
  flex-basis: 5%;
  display: flex;
}

.responsive-table .table-row button.edit {
  display: block;
  width: 25px;
  height: 20px;
  background: #95A5A6;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-right: 3px;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table:before {
   color: #6C7A89;
   padding-right: 10px;
   content: attr(data-label);
   flex-basis: 50%;
   text-align: right;
 }

}

.login-form {
  margin-left: 30px;
  width: 350px;
  padding: 2em;
  border-radius: 3px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.flex-row {
  position: relative;
  display: flex;
  margin-bottom: 1em;
  border: 1px solid transparent;
}

.flex-row.invalid {
  border: 1px solid red;
}

.flex-row .error {
  position: absolute;
  bottom: -14px;
  left: 0;
  color: red;
  font-size: 11px;
}

.lf--label {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  cursor: pointer;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #2f2f2f;
  font-size: 1rem;
}

.lf--input:focus {
   outline: none;
 }


.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.lf--submit {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  width: 70px;
  background: #95A5A6;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
}

.lf--submit:focus {
   outline: none;
   transition: transform .15s ease;
   transform: scale(1.1);
 }

::placeholder {
  text-transform: capitalize;
  color: #8f8f8f;
}
